<!DOCTYPE html>
<html>
<head>
  <title>Musical Fitness | <%= @title %></title>
  <%= stylesheet_link_tag    "reset" %>
  <%= stylesheet_link_tag    "styles" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div id="content">
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>

</body>
</html>
